html {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.app {
  text-align: center;
}

/*.app-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.app-link {
  color: #61dafb;
}

// MAIN APP CONTAINER #########################################################

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  border: 1px solid white;
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(5px);

  padding: .5rem;

  border-radius: .25rem;
  box-sizing: border-box;
  overflow: hidden;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: nowrap;

  width: 800px;
}

nav li {
  display: inline-block;
  width: calc(100%/2);
  text-align: center;
}

// FULLSCREEN YOUTUBE BACKGROUND ##############################################

.bg-video {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.bg-video #player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}

.bg-video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

@media (min-aspect-ratio: 16/9) {
  .bg-video #player {
    //height: 300%;
    //top: -100%;
    height: 56.25vw;
  }
}

@media (max-aspect-ratio: 16/9) {
  .bg-video #player {
    //width: 300%;
    //left: -100%;
    width: 177.78vh;
  }
}
